/* styles.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notation {
  margin: 0 auto; /* Center the notation div */
  width: 80%; /* Take up 80% of the viewport width */
  height: 60vh; /* Take up 60% of the viewport height */
  background-color: white; /* Background color for better visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#currentNote {
  font-size: 24px; /* Increase font size for better readability */
  margin: 20px 0;
}

.noteContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.noteButton {
  margin: 5px; /* Add margin between note buttons */
  padding: 10px 20px; /* Add padding to the buttons */
  font-size: 18px; /* Increase font size for better touch usability */
  background-color: #838383;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  flex: 1 0 6%;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#deleteStorage,
#switchClef,
#clearWeights {
  margin: 5px; /* Add margin between note buttons */
  padding: 10px 20px; /* Add padding to the buttons */
  font-size: 18px; /* Increase font size for better touch usability */
  background-color: #424040;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}

.optionsContainer select {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}

.optionsContainer select option {
  padding: 5px;
}

.reward,
.punishment {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reward label,
.punishment label {
  font-weight: bold;
}

.reward select,
.punishment select {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}

.explanationText {
  padding: 20px;
  border-radius: 5px;
  margin-top: 0px;
  text-align: center;
}

.explanationText p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  body {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  #currentNote {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .noteButton {
    font-size: 16px; /* Decrease font size for smaller screens */
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }
  #notation {
    width: 100%; /* Ensure the notation uses full width on smaller screens */
    height: 50vh; /* Adjust height for smaller screens */
  }

  .optionsContainer select {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (min-width: 1600px) {
  .noteButton {
    flex: 1 0 4%;
  }
}
